
.index-middle-logo{
	width:315px;
	margin:10px 9px 0 30px;
}

.format-small{
	width: 300px !important;
	word-wrap: break-word;
}
.exp-metadata{
	width:250px !important;
	word-wrap: break-word;
}

.mpi-logo {
    width: 200px;
    margin: 2px;
 }

