.index-middle-logo {
    width:315px;
    margin:10px 9px 0 30px;
}

.mpi-logo {
    width: 200px;
    margin: 2px;
}

.format-small{
	width: 300px !important;
	word-wrap: break-word;
}
.exp-metadata{
	width:250px !important;
	word-wrap: break-word;
    overflow:hidden;
    display: none;
}
.exp-metadata-minimize{
    height: auto;
}
.exp-metadata-more-view{
    width:250px !important;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color:#3E78FD;
}

.apiDiv{
    min-height: 200px!important;
    text-align: left;
    margin-left:20px;
}
.api-header{
    border:1px dashed #CCC;
    padding: 20px;
    background: #EEE;
    margin-bottom: 20px;
}
.marginDiv{
    margin:10px 0 10px 10px;
}
.operation-name{
    color:#A00A31;
}
.operation-parameter{
    color:#2586B9;
}
.operation-type{
    color:#289334;
}
.api-python-code{
    color: #CD7CA5;
}
.apiDiv li{
    margin-left: 10px;
}
.apiLeftMargin{
    margin-left: 60px!important;
}
.api-title{
    font-size: 35px;
}
.api-description-listing{
    font-size:17px;
}
.api-panel{
    margin:20px 0 40px 0;
    padding:40px!important;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0 5px 10px rgba(0, 0, 0, 0.3);
    box-shadow:         0 5px 10px rgba(0, 0, 0, 0.3);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.api-panel-header{
    padding: 15px;
    background: #EAEAEA;
    font-size: 20px;
    font-weight: bold;
    margin: -40px -40px 20px !important;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}
.api-panel h3 {
    font-family: "Helvetica Neue","Helvetica",arial,sans-serif;
    font-weight: bold;
    line-height: 1em;
    padding-bottom: 0.2em;
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #005DAC;
}
.api-parameters ul li, .api-responses ul li{
    list-style: circle outside none;
}
.api-parameters ul li{
    line-height: 2.0em;
}
.search-results{
    border-top:1px solid #E3E3E3!important;
    padding: 15px 0 15px 0;
}
.search-result-header{
    color: #3276b1;
    font-weight: bold;
    font-size: 15px;
}
.marginTop{
    margin-top:10px;
}
.clear{
    height: 20px;
    clear: both;
}
#tempSearchResult .search-results{
    width:70%!important;
}
a.morelink {
    text-decoration:none;
    outline: none;
}
.morecontent span {
    display: none;
}
.searchMetadata{
    border-top: 1px dashed #E3E3E3;
    width: 100%;
}