.fa-blue {
    color: rgb(39,91,137);
    //color: rgb(103,157,198);
}

.index-middle-logo {
    width:315px;
    margin:10px 9px 0 30px;
}

.mpi-logo {
    height: auto;
    width: 100px;
    margin: 2px;
}

.col-sm-5cols{
    position: relative;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 20px;
}

@media (min-width: 768px) {
.col-sm-5cols {
        width: 25%;
        float: left;
    }
}


.format-small{
	width: 300px !important;
	word-wrap: break-word;
}
.exp-metadata{
	width:250px !important;
	word-wrap: break-word;
    overflow:hidden;
    display: none;
}
.exp-metadata-minimize{
    height: auto;
}
.exp-metadata-more-view{
    width:250px !important;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color:#3E78FD;
}

.apiDiv{
    min-height: 200px!important;
    text-align: left;
    margin-left:20px;
}
.api-header{
    font-size: 17px;
    border:1px dashed #CCC;
    padding: 20px;
    background: #EEE;
    margin-bottom: 20px;
}
.marginDiv{
    margin:10px 0 10px 10px;
}
.operation-name{
    color:#A00A31;
}
.operation-parameter{
    color:#2586B9;
}
.operation-type{
    color:#289334;
}
.api-python-code{
    color: #CD7CA5;
}
.apiDiv li{
    margin-left: 10px;
}
.apiLeftMargin{
    margin-left: 60px!important;
}
.api-title{
    font-size: 35px;
}
.api-description-listing{
    font-size:17px;
}

.api-description {
    font-size: 17px;
    margin: 15px 40px 15px 40px;
}

.api-panel{
    margin:20px 40px 50px 40px;
    padding:40px!important;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0 5px 10px rgba(0, 0, 0, 0.3);
    box-shadow:         0 5px 10px rgba(0, 0, 0, 0.3);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.api-panel-header{
    padding: 15px;
    background: #EAEAEA;
    font-size: 20px;
    font-weight: bold;
    margin: -40px -40px 20px !important;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}
.api-panel h3 {
    font-family: "Helvetica Neue","Helvetica",arial,sans-serif;
    font-weight: bold;
    line-height: 1em;
    padding-bottom: 0.2em;
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #005DAC;
}
.api-parameters ul li, .api-responses ul li{
    list-style: circle outside none;
    font-size: 17px;
}
.api-parameters ul li{
    font-size: 17px;
    line-height: 2.0em;
}
.search-results{
    border-top:1px solid #E3E3E3!important;
    padding: 15px 0 15px 0;
}
.seach-result-title{
    color: #434343;
    font-size: 15px;
    margin-bottom: 10px;
}
.seach-result-title span{
    font-size:20px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
.marginTop{
    margin-top:10px;
}
.clear{
    height: 20px;
    clear: both;
}
#tempSearchResult .search-results{
    width:70%!important;
}
a.morelink {
    text-decoration:none;
    outline: none;
}
.searchMetadata{
    width: 100%;
}
.more-hidden {
    display: none;
}
.more-link{
    margin-left:15px;
}
#datatable_fixed_column_filter label{
    float: left;
    margin-right: 10px;
}
.downloadButtonDiv{
    background: #FAFAFA;
    padding: 10px;
}

.modalViewSingleInfoShort{
    width: 88%!important;
    height: 50% !important;
    margin:0 auto;
}

.modalViewSingleInfoSmall{
    width: 30%!important;
    height: 50% !important;
    margin:0 auto;
}

.modalViewSingleInfo{
    width: 77%!important;
    margin:0 auto;
}

.search-modal-table{
    font-weight: bold!important;
    width:19%;
}
.search-modal-annotation-format{
    width: 70%;
    word-wrap: break-word;
}
.txt-color-black{
    color: #CCC!important;
}
.workflowInputs input{
    width: 14%;
    height: 33px;
    margin: 0 5px 0 0;
}
.workflowInputs{
    border:1px solid #CCC;
    padding: 20px;
    width: 100%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.workflowInputs button{
    width: 100px;
    margin: -3px 0 0 0;
    height: 33px;
}
.workflow_additional_inputs{
    margin:10px 0 0 0;
}
.workflow_selected_list{
    border:1px solid #CCC;
    margin:25px 0 20px 0;
}
#myWorkflowContent{
    padding: 20px !important;
}
#workflow_operations_combobox{
    margin:20px 0 0 0;
}
.operationsBtn{
    width: 200px!important;
    margin: -3px 0 0 0;
    height: 33px;
}
.workflow-line{
    border:1px dashed #CCC;
    margin: 40px 0 20px 0;
    clear: both;
}
.operationSelectForm{
    height: 40px!important;
    float: left;
}
.operation-download-btn{
    width: 26%!important;
    height: 40px!important;
    float: right;
}
.info_title{
    float: left;
    margin:0 20px 20px 0;
}
.info_edit_link{
    float: left;
    cursor: pointer;
    font-weight: bold;
    margin: 3px 0 0 0;
    font-size: 15px;
}
.operation_combobox_info_append{
    margin: 20px 0 0 0;
}
.info_edit_inputDiv{
    margin:30px 0 20px 0;
}
.parent_workflow_selected_list h2, .infos h2 {
    float: left;
    margin:0 20px 0 0;
}
#selected_anno_exp_edit_link, .selected_anno_exp_edit_link {
    float: left;
    margin: 7px 0 0 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}
.info_remove_link{
    float: right;
    margin:20px 0 0 0;
    color: red;
    font-style: italic;
    cursor: pointer;
}
.steps-select{
    width: 10%;
    float: left;
    margin:0 10px 0 0;
}
.multi-select-size{
    width: 100%;

    max-height: 100%;
}


/* CONTACTS */
.contact-box {
  background-color: #ffffff;
  border: 1px solid #e7eaec;
  padding: 20px;
  margin-bottom: 20px;
}
.contact-box > a {
  color: inherit;
}
.contact-box.center-version {
  border: 1px solid #e7eaec;
  padding: 0;
}
.contact-box.center-version > a {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}
.contact-box.center-version > a img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contact-box.center-version address {
  margin-bottom: 0;
}
.contact-box .contact-box-footer {
  text-align: center;
  background-color: #ffffff;
  border-top: 1px solid #e7eaec;
  padding: 15px 20px;
}
.landing-page .gray-section {
  background: #f4f4f4;
  margin-top: 60px;
}

.navy-line {
  width: 60px;
  height: 1px;
  margin: 60px auto 0;
  border-bottom: 2px solid rgb(39,91,137);
}

.ui-autocomplete {
     max-height : 200px;
     overflow-x: hidden;
     overflow-y: auto;
 }

.table .selected-grid-cell {
    border-color: green;
}

.table .unselected-grid-cell {
    border-color: yellowgreen;
}

th.rotate {
  /* Something you can count on */
  height: 180px;
  white-space: nowrap;
}

th.rotate > div {
  transform:
    translate(35px, 30px)
    rotate(270deg);
  width: 20px;
  height: 90px;
}

.tab_areas {
    min-width: 100%;
    height: 235px;
    border: none;
    resize: none;
}