/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the
 * later versions of this theme.
 *
 * We advise that you use use this CSS to override
 * SmartAdmin styles.
 *
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 *
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */


.index-middle-logo{

width:315px;
margin:10px 9px 0 30px;

}

.format-small{
	width: 300px !important;
	word-wrap: break-word;
}
.exp-metadata{
	width:250px !important;
	word-wrap: break-word;
}

.apiDiv{
    min-height: 200px!important;
    text-align: left;
    margin-left:20px;
}
.toggleDiv{
    display: none;
    margin:20px 0 40px 0;
    padding:25px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0 5px 10px rgba(0, 0, 0, 0.3);
    box-shadow:         0 5px 10px rgba(0, 0, 0, 0.3);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.pointerH{
    cursor: pointer;
}
.apiSource{
    border:1px dashed #CCC;
    padding: 20px;
    background: #EEE;
    margin-bottom: 20px;
}
.marginDiv{
    margin:10px 0 10px 10px;
}
.apiTitle{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    color: #005DAC;
}
.apiRCode{
    color:#A00A31;
}
.apiBCode{
    color:#2586B9;
}
.apiGCode{
    color:#289334;
}
.apiSubTitle{
    color:#666;
    font-size: 16px;
    margin-bottom: 10px;
}
.apiVCode{
    color: #CD7CA5;
}
.apiDiv li{
    margin-left: 10px;
}
.apiUlMargin{
    margin-left: 60px;
}

